# HOMETASK  

## Условие 2:

На складе лежат разные фрукты в разном количестве.  
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [8]:
fruts = {'Apples' : 2, 'Oranges': 3, 'Peaches': 1}

def summ (new_dict: dict):
  total = sum(new_dict.values())
  return total

print (f"Total is {summ(fruts)} kg")

Total is 6 kg

## Условие 3:
Дан список с затратами на рекламу.  
Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.  
Удалите такие значения из списка и посчитайте суммарные затраты  
[100, 125, -90, 345, 655, -1, 0, 200]  
Используйте list comprehensions

In [117]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]
def amt (new_list: list):
  total = sum(x for x in new_list if x > 0)
  return total
print(f"Total advertasing expences is {amt(costs)}")

# amt = 0
# for i in range(len(costs)):
#   if costs[i] > 0: amt += costs[i]
# print(amt)

Total advertasing expences is 1425

## Условие 4:  
Даны два списка.  
Дата покупки  
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам  
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [148]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sales = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

def revenue_of_month(sales_list: list, dates_list: list, mnt: int):
  sales_of_mnt = sum([int(sales_list[i]) for i in range (len(dates_list)) if int(dates_list[i][5:7]) == mnt])
  return (sales_of_mnt)

month = 11
print (f"Revenue of month number {month} = {revenue_of_month(sales, dates, month)}")

# month = 11
# sales_of_mnt = sum([int(sales[i]) for i in range (len(dates)) if int(dates[i][5:7]) == month])
# print (f"Revenue of {month} month = {sales_of_mnt}")

Revenue of month number 11 = 25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [245]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sales = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

def table_revenue (dates_list, sales_list):
  month = list({dates_list[i][0:7] for i in range(len(dates_list))})
  revenue = list()
  for j in range(len(month)):
    sales_of_mnt = sum([int(sales_list[i]) for i in range (len(dates_list)) if dates_list[i][0:7] == month[j]])
    revenue.append(sales_of_mnt)
  result = {month[i]: revenue [i] for i in range (len(month))}
  return(result)

print (table_revenue(dates, sales))

{'2021-09': 25647, '2021-12': 45452, '2021-11': 25098, '2021-10': 28645}